# Get your API key from https://aistudio.google.com/api-keys
GEMINI_API_KEY=your_api_key_here

# or you have more API keys...
# GEMINI_API_KEY1=your_api_key_here
# GEMINI_API_KEY2=your_api_key_here
# ...
# GEMINI_API_KEY9=your_api_key_here